
---
layout: layout
---

<%
  const data = site.data.diaspora.data;
  const servers = data.servers;
%>

<%- partial('_partial/heroheader') %>

<main class="contents network">

  <%- partial('_partial/header') %>

  <div class="section-wrapper">

    <%- partial('_partial/generalinfo') %>

    <section class="column">
      <div class="section u-block">
        <h4><%- __('join') %></h4>
        <ul class="section-list">
          <% for (item in servers) { %>
            <li class="u-inline">
              <a href="<%= servers[item].url %>"><%- __('nodeList') %> <%= servers[item].num %></a><span>&nbsp/&nbsp;</span>
            </li>
          <% } %>
        </ul>
        <p><a href="<%= data.mobile %>"><%- __('mobapp') %></a></p>
      </div>
      <div class="section u-block">
        <h4><%- __('admins') %></h4>
        <span><a href="<%= data.proxy %>">Camo <%- __('proxy') %></a></span>
        <p><a href="<%= data.relay %>"><%- __('relay') %></a></p>
        <p><a href="<%= data.tutorials %>"><%- __('tuts') %></a></p>
      </div>
    </section>
  </div>

  <%- partial('_partial/world') %>
  <br>
  <%- partial('_partial/contributing') %>

  <%- partial('_partial/buttons') %>
</main>
