
---
layout: layout
---

<%
  const data = site.data.gnusocial.data;
  const tutorials = data.tutorials;
  const tuts = [__('started'), __('guide')];
  const utilities = data.utilities;
  const utils = [__('timeline'), __('plugins')];
%>

<%- partial('_partial/heroheader') %>

<main class="contents network">

  <%- partial('_partial/header') %>

  <div class="section-wrapper">

    <%- partial('_partial/generalinfo') %>

    <section class="column">
      <div class="section u-block">
        <h4><%- __('join') %></h4>
        <span class="u-block"><a href="<%= data.servers %>"><%- __('nodeList') %></a></span>
        <span class="u-block"><a href="<%= data.mobile %>"><%- __('mobapps') %></a></span>
      </div>
      <div class="section u-block">
        <h4><%- __('tuts') %></h4>
        <ul class="section-list">
          <% for (item in tutorials) { %>
            <% let n = tutorials[item].id %>
            <li class="u-inline">
              <a href="<%= tutorials[item].url %>"><%= tuts[n] %></a><span>&nbsp/&nbsp;</span>
            </li>
          <% } %>
        </ul>
      </div>
      <div class="section u-block">
        <h4><%- __('utilities') %></h4>
        <ul class="section-list">
          <% for (item in utilities) { %>
            <% let u = utilities[item].id %>
            <li>
              <a href="<%= utilities[item].url %>"><%= utils[u] %></a>
            </li>
          <% } %>
        </ul>
      </div>
    </section>
  </div>

  <%- partial('_partial/world') %>
  <br>
  <%- partial('_partial/contributing') %>

  <%- partial('_partial/buttons') %>
</main>
