
---
layout: layout
---

<%- partial('_partial/heroheader') %>

<main class="contents">
  <h4 class="section-title">
    <svg  class="icon-share" role="img" aria-labelledby="f-share">
      <title id="f-share">share icon</title>
      <use xlink:href="#icon-share">
    </svg><span><%- __('share') %></span>
  </h4>
  <ul class="article-list">
    <li><a href="<%= url_for(page.lang + '/post/FAQ-for-newcomers') %>"><%- __('faq4newbs') %></a></li>
    <li>
      <a href="<%= url_for(page.lang + '/post/Why-use-federated-networks') %>"><%- __('whyUseFediverse') %></a>
    </li>
  </ul>
  <%- partial('_partial/buttons') %>
</main>
