
---
layout: layout
---

<%
  const data = site.data.postactiv.data;
%>

<%- partial('_partial/heroheader') %>

<main class="contents network">

  <%- partial('_partial/header') %>

  <div class="section-wrapper">
    <%- partial('_partial/generalinfo') %>
    <section class="column">
      <div class="section u-block">
        <h4><%- __('techies') %></h4>
        <p class="u-nomargin"><a href="<%= data.docs %>"><%- __('docs') %></a></p>
      </div>
    </section>
  </div>

  <%- partial('_partial/world') %>
  <br>
  <%- partial('_partial/contributing') %>

  <%- partial('_partial/buttons') %>
</main>
