
---
layout: layout
---

<div class="contents">
  <div class="tags__cloud">
    <% site.tags.map(function(tag) { %>
      #<a href="/tags/<%= tag.name %>"><%= tag.name %></a>
    <% }) %>
  </div>
  <div class="one-tag-list">
    <% const groupObj = _.groupBy(site.posts.toArray(), function(p){return -p.date.format('YYYY')}) %>

    <% for (let year in groupObj){ %>
      <h3 class="tags__year"><%- -year %></h3>
      <ul class="tags__list">
        <%- partial('_partial/taglist', {posts: _.sortBy(groupObj[year], 'date').reverse()}) %>
      </ul>
    <% } %>
   </div>
</div>
