
<%
  const network = page.network;
  const w = network + 'World';
  const world = site.data.worldi18n.worlds[w];
  const data = site.data[network].data;
  const protocols = data.protocols;
%>

<section class="column">
  <div class="section">
    <h4><%- __('category') %></h4><span><%= world.category %></span>
  </div>
  <div class="section">
    <h4><%- __('type') %></h4><span><%= world.type %></span>
  </div>
  <div class="section">
    <h4><%- __('created') %></h4><span><%= data.created %></span>
  </div>
  <div class="section">
    <h4><%- __('official') %></h4><span><a href="<%= data.official %>"><%= data.official %></a></span>
  </div>
  <div class="section">
    <h4><%- __('license') %></h4><span><%= data.license %></span>
  </div>
  <div class="section">
    <h4><%- __('code') %></h4><span><a href="<%= data.repo %>"><%- __('repo') %></a></span>
  </div>
  <div class="section">
    <h4><%- __('language') %></h4><span><%= data.language %></span>
  </div>
  <div class="section">
    <h4><%- __('protocols') %></h4>
    <ul class="section-list">
      <% for (item in protocols) { %>
      <li class="u-inline">
        <a href="<%= protocols[item].url %>"><%= protocols[item].title %></a><span>,&nbsp;&nbsp;</span>
      </li>
      <% } %>
    </ul>
  </div>
  <% if (data.wiki) { %>
  <div class="section">
    <h4><%- __('wiki') %></h4><span><a href="<%= data.wiki %>"><%- __('resources') %></a></span>
  </div>
  <% } %>
</section>
