
<header class="hero-header" style="background: url('<%= page.banner %>') <%= page.percent %> no-repeat;">
  <div class="heading">
    <h1><%= page.title %></h1>
    <h4 class="subheading"><%= page.subtitle || "" %></h4>
  </div>
</header>
