
<div class="navbar">
  <input name="slideout" id="overlay" class="overlay" type="radio" checked>
  <div class="hamburger">
    <label class="hamburg-box" for="f-menu">
      <p><%- __('menu') %></p>
      <svg class="f-menu" role="img" aria-labelledby="f-nav">
        <title id="f-nav">menu icon</title>
        <use xlink:href="#icon-menu">
      </svg>
      <svg id="menuClose" class="f-icon" role="img" aria-labelledby="f-close">
        <title id="f-close">close icon</title>
        <use xlink:href="#icon-close">
      </svg>
    </label>
  </div>
  <input name="slideout" id="f-menu" class="control" type="radio">
  <ul class="nav slideout">
    <label for="overlay"></label>
    <li><a href="<%= url_for(page.lang + '/fediverse/') %>"><svg class="f-icon"><use xlink:href="#icon-star"></use></svg> <span>Fediverse</span></a></li>
    <li><a href="<%= url_for(page.lang + '/chronicles/') %>"><svg class="f-icon"><use xlink:href="#icon-star"></use></svg> <span><%- __('chronicles') %></span></a></li>
    <li><a href="<%= url_for(page.lang + '/knowledge/') %>"><svg class="f-icon"><use xlink:href="#icon-star"></use></svg> <span><%- __('knowledge') %></span></a></li>
    <li class="todo"><%- __('portal') %></li>
    <li class="source">
      <div class="u-extra">
        <a href="https://github.com/distributopia/all-logos-in-one-basket"><%- __('logo') %></a>
        <a href="https://gitlab.com/fediverse/fediverse.gitlab.io"><%- __('code') %></a>
      </div>
      <div id="pulse" class="source__toggle">
        <button type="button"><%- __('about') %></button>
      </div>
    </li>
  </ul>
</div>
