<svg xmlns="https://www.w3.org/2000/svg" style="display: none;">

  <symbol id="icon-menu" viewBox="0 0 24 24">
    <path d="M6.8,11.613c0,1.436-1.164,2.6-2.6,2.6s-2.6-1.164-2.6-2.6s1.164-2.6,2.6-2.6
  S6.8,10.177,6.8,11.613z M22.4,11.613c0,1.436-1.164,2.6-2.6,2.6c-1.436,0-2.6-1.164-2.6-2.6s1.164-2.6,2.6-2.6
  C21.236,9.013,22.4,10.177,22.4,11.613z M14.6,11.613c0,1.436-1.164,2.6-2.6,2.6s-2.6-1.164-2.6-2.6s1.164-2.6,2.6-2.6
  S14.6,10.177,14.6,11.613z"/>
  </symbol>

  <symbol id="icon-close" viewBox="0 0 24 24">
    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
  </symbol>

  <symbol id="icon-share" viewBox="0 0 24 24">
    <path d="M12.562 16.5l-2.8 2.731a3.436 3.436 0 0 1-4.858-.088l-.028-.03a3.511 3.511 0 0 1-1.098-2.422 3.17 3.17 0 0 1 .98-2.358l2.8-2.731a1.346 1.346 0 0 0 .028-1.904l-.028-.027a1.42 1.42 0 0 0-1.975 0l-2.8 2.731a5.832 5.832 0 0 0-1.795 4.355 6.208 6.208 0 0 0 1.914 4.288 6.468 6.468 0 0 0 4.528 1.876 6.13 6.13 0 0 0 4.311-1.758l2.8-2.731a1.346 1.346 0 0 0 .028-1.904l-.028-.028a1.42 1.42 0 0 0-1.979 0zm-5.586.56c.55.534 1.424.534 1.974 0l8.38-8.194a1.343 1.343 0 0 0 .032-1.9l-.032-.032a1.42 1.42 0 0 0-1.975 0L6.976 15.13c-.558.488-.653 1.293-.165 1.852.04.045.082.088.165.084v-.006zm14.42-14.106a6.285 6.285 0 0 0-8.838-.118l-2.8 2.733a1.342 1.342 0 0 0 0 1.931c.55.533 1.424.533 1.974 0l2.8-2.731a3.435 3.435 0 0 1 4.887.118 3.523 3.523 0 0 1 1.099 2.422 3.17 3.17 0 0 1-.98 2.358l-2.8 2.731a1.343 1.343 0 0 0-.032 1.9l.032.032c.55.534 1.425.534 1.975 0l2.8-2.731a5.843 5.843 0 0 0 1.795-4.355 6.209 6.209 0 0 0-1.912-4.283v-.007z"/>
  </symbol>

  <symbol id="icon-star" viewBox="0 0 14 14">
    <path d="M6.949 2.857l.834 1.975c.139.331.423.57.761.641l2.371.499L9.288 7.68c-.25.263-.359.639-.291 1.004l.454 2.443-2.072-.967a1.013 1.013 0 0 0-.86 0l-2.073.968.454-2.444a1.152 1.152 0 0 0-.291-1.003L2.984 5.972l2.37-.499c.338-.071.621-.31.761-.641l.834-1.975m0-2.057a.45.45 0 0 0-.41.28L5.146 4.379l-3.494.736a.457.457 0 0 0-.339.327.49.49 0 0 0 .112.47L3.859 8.47l-.68 3.664c-.034.179.01.352.142.463a.444.444 0 0 0 .464.06l3.164-1.477 3.169 1.479a.395.395 0 0 0 .178.041c.101 0 .2-.036.278-.101.132-.11.177-.289.145-.465l-.682-3.664 2.435-2.559a.488.488 0 0 0 .113-.469.461.461 0 0 0-.341-.328l-3.493-.735L7.358 1.08A.449.449 0 0 0 6.949.8z"/>
  </symbol>

  <symbol id="icon-snowflake" viewBox="0 0 24 24">
    <path d="M21.8 10.6a1.4 1.4 0 1 0 0 2.8 1.4 1.4 0 0 0 0-2.8zm-19.6 0a1.4 1.4 0 1 0 0 2.8 1.4 1.4 0 0 0 0-2.8zm9.8 9.8a1.4 1.4 0 1 0 0 2.8 1.4 1.4 0 0 0 0-2.8zm0-16.8a1.4 1.4 0 1 0 0-2.8 1.4 1.4 0 0 0 0 2.8zm3.388 9.8H17.6a1.4 1.4 0 0 0 0-2.8h-2.212l4.606-4.606a1.406 1.406 0 1 0-1.988-1.988L13.4 8.612V6.4a1.4 1.4 0 0 0-2.8 0v2.212L5.994 4.006a1.406 1.406 0 1 0-1.988 1.988L8.612 10.6H6.4a1.4 1.4 0 0 0 0 2.8h2.212l-4.606 4.606a1.411 1.411 0 0 0 0 1.988 1.42 1.42 0 0 0 1.988 0l4.606-4.606V17.6a1.4 1.4 0 0 0 2.8 0v-2.212l4.606 4.606a1.42 1.42 0 0 0 1.988 0 1.411 1.411 0 0 0 0-1.988L15.388 13.4z"/>
  </symbol>

  <symbol id="icon-logo" viewBox="0 0 24 24">
    <path d="M20.11 3.797V.387s-5.745 1.606-9.778 2.162c-1.417.196-6.442.972-6.442.972l5.245 2.606 1.203-.354c1.264-.373 2.522-.594 2.522-.594l-.031 6.216-3.545.831c-.328-.443-.853-.701-1.447-.701a1.8 1.8 0 0 0-1.164 3.174h-.061l-.952 1.563a1.473 1.473 0 0 0 .168 2.939c.021 0 .04-.005.06-.006l1.192 1.51c-.184.292-.23.637-.23 1.008a1.9 1.9 0 1 0 1.9-1.9c-.241 0-.501.047-.713.128L7.018 18.63c.197-.251.289-.564.289-.907 0-.414-.11-.787-.384-1.056l.929-1.543a1.798 1.798 0 0 0 1.765-1.531l3.213-.812v8.433l3.011-.522v-6.716l3.871-.749-.031-4.7-3.84.676.002-4.612 4.267-.794z"/>
  </symbol>

  <symbol id="icon-diaspora" viewBox="0 0 24 24">
    <path d="M15.13 21.453l-2.172-3.033c-.58-.81-1.052-1.443-1.077-1.444-.025 0-.937 1.227-2.16 2.903-1.162 1.594-2.123 2.9-2.134 2.9-.034 0-4.193-2.93-4.203-2.962-.006-.015.935-1.395 2.09-3.07 1.154-1.672 2.1-3.065 2.1-3.097 0-.05-.375-.182-3.31-1.16-1.82-.608-3.326-1.11-3.348-1.12-.03-.01.143-.59.737-2.465.427-1.348.785-2.462.8-2.477.01-.014 1.593.492 3.514 1.125 1.922.634 3.51 1.15 3.53 1.15.018 0 .04-.032.05-.066.007-.036.024-1.67.035-3.635.014-1.962.035-3.585.047-3.605.018-.03.56-.036 2.54-.036 1.383 0 2.53.012 2.548.023.023.014.06 1.093.125 3.52.104 3.98.107 4.032.17 4.032.023 0 1.547-.51 3.383-1.132 1.837-.623 3.348-1.122 3.36-1.11.036.04 1.543 4.946 1.524 4.963-.01.01-1.542.534-3.406 1.166-2.562.87-3.39 1.16-3.396 1.196-.005.03.876 1.345 1.996 2.985 1.103 1.616 2.003 2.948 1.998 2.964-.012.035-4.14 3.075-4.175 3.075-.014.002-.537-.714-1.163-1.587v-.002z"/>
  </symbol>

  <symbol id="icon-mastodon" viewBox="0 0 24 24">
    <path d="M23.605 10.01v10.205h-4.042v-9.907c0-2.09-.88-3.148-2.636-3.148-1.943 0-2.918 1.256-2.918 3.742v5.422H9.99v-5.42c0-2.487-.973-3.744-2.917-3.744-1.757 0-2.636 1.06-2.636 3.147v9.907H.395V10.008c0-2.085.53-3.742 1.597-4.97 1.1-1.225 2.54-1.853 4.328-1.853 2.07 0 3.635.795 4.67 2.386L12 7.26l1.007-1.69c1.036-1.59 2.604-2.385 4.67-2.385 1.79 0 3.23.63 4.33 1.854 1.066 1.225 1.597 2.883 1.597 4.97"/>
  </symbol>

  <symbol id="icon-gnusocial" viewBox="0 0 24 24">
    <path d="M14.526 18.125l2.147-.12s.418 2.566-4.175 2.387c-2.923-.114-4.832-1.61-4.832-5.965s.537-5.07 4.653-5.25c4.115-.177 4.89 3.34 4.89 3.34h3.4s-.26-2.53-2.213-4.45c1.753-.97 1.715-2.836 1.652-4.02C19.99 2.914 17.594 0 17.036.497c-.56.5.924.986.804 3.432-.05 1.073.27 1.908-1.788 1.908-1.374 0-.805-1.223-2.536-1.223-1.018 0-1.404.65-1.55 1.186-.147-.534-.533-1.184-1.55-1.184-1.73 0-1.163 1.222-2.536 1.222-2.06 0-1.738-.835-1.79-1.91C5.97 1.484 7.453 1 6.895.5c-.555-.497-3.01 1.88-3.01 3.55 0 1.186-.066 3.06 1.68 4.028C3.91 9.694 3.58 11.98 3.612 14.008c.06 3.7 1.61 9.186 8.59 9.544 6.978.36 8.47-5.13 8.47-8.65h-7.335l1.19 3.223z"/>
  </symbol>

  <symbol id="icon-friendica" viewBox="0 0 24 24">
    <path d="M.431 4.536v14.928c0 2.315 1.864 4.197 4.166 4.197h14.806c2.302 0 4.166-1.882 4.166-4.197V4.536c0-2.315-1.864-4.197-4.166-4.197H4.597C2.295.339.431 2.221.431 4.536zm18.972-3.268c1.799 0 3.237 1.447 3.237 3.268v14.928c0 1.82-1.438 3.268-3.237 3.268H8.299v-5.6h7.403l-.019-5.582-7.384.039v-4.72h7.403v-5.6l3.701-.001z"/>
  </symbol>

  <symbol id="icon-hubzilla" viewBox="0 0 24 24">
    <path d="M20.125 1.403c1.26.622 2.423 1.818 3.03 3.11.24.578.492 1.148.44 2.49-.045 1.21-.13 1.686-.507 2.488-.998 2.13-2.962 3.554-5.205 3.7l-1.212.082-.425 1.686c-.357 1.404-.39 1.876-.39 1.876.405.43 1.325.696 1.71 1.692.525 1.015.465 2.456-.206 3.29-1.098 1.36-2.735 1.768-4.176 1.016-1.31-.688-1.997-2.39-1.588-3.88.098-.377-.016-.492-1.588-1.523L8.305 16.3l-.622.508C4.72 19.182.38 17.086.397 13.272c0-2.456 1.95-4.37 4.453-4.355 1.26 0 2.014.278 2.947 1.13l.687.622 1.523-.77 1.54-.753-.164-.54c-.23-.802-.18-2.586.098-3.487.312-1.08 1.278-2.423 2.195-3.094 1.867-1.377 4.42-1.623 6.45-.623zm-11.25 13.88l3.413 2.346s1.036-.873 2.44-.996l.874-3.71s-2.7-.874-3.465-2.77l-3.163 1.5s.748 1.868-.098 3.628z"/>
  </symbol>

  <symbol id="icon-socialhome" viewBox="0 0 24 24">
    <path d="M8.47 8.268h7.044v9.08H8.472v-9.08zm8.177 5.2h4.98v9.74h-4.98v-9.74zm-14.035 3.88H7.27V8.27H2.613l-.002 9.08zm12.94 5.86H2.648l.002-4.762h12.902v4.763zm1.132-14.94h4.98v4.075h-4.98V8.268zm5.836-3.152L12.426.892c-.196-.135-1.392-.135-1.627 0L1.672 5.157c-.287.133-.438.445-.37.755.07.314 1.344 1.205 1.344 1.205h19.02s1.363-.977 1.363-1.352c0-.317-.218-.576-.51-.65z"/>
  </symbol>

  <symbol id="icon-pleroma" viewBox="0 0 16 24">
    <path d="M7.53 8.98s-.137-.475-.441-1.974c-.34-1.172-.804-2.174-1.345-2.322l.413-.462s2.162 1.319 7.537.969V3.929c-4.125.467-6.675-.387-6.646-.582.015-.103 3.209-2.201 6.646-1.803V.365C7.647.054 3.588 4.476 3.328 4.734c-.008.005-.016.008-.022.013C3.024 4.966.289 7.573.289 7.573s1.125 1.503 1.872 1.141c.522-.252.999-1.399 1.652-1.134.406.108.553 1.365.521 2.345l.001 12.671L7.53 23.65V13.446c-.033-.389-.03-1.257.262-1.257.652 0 1.817.17 2.395.481 1.446.775 2.14 3.403-1.571 4.031v2.545s2.337-.108 3.022-.331c.663-.218 2.499-.944 2.946-2.974 1.034-4.708-4.522-6.61-7.054-6.961z"/>
  </symbol>

  <symbol id="icon-postactiv" viewBox="0 0 24 24">
    <path d="M1.99 1.32h5.345c.446 0 .794.112 1.045.334.265.21.43.473.504.794l1.42 9.712c.126.823.23 1.627.315 2.42.08.782.15 1.57.207 2.363.25-.78.515-1.558.794-2.34.293-.793.62-1.606.98-2.442l3.803-9.623 1.48.006s-4.49-1.22-4.113-1.22h9.712l-.263.173L12.723 22.98h-5.47L1.99 1.32z"/>
  </symbol>

  <symbol id="icon-ganggo" viewBox="0 0 24 24">
    <path d="M1.11 1.06v21.88h21.78V1.06H1.11zm2.521 3.609h7.28v7.28h-7.28v-7.28zm13.411 15.549h-9.73V16.79H9.58v-2.32h4.739v2.42h2.722v3.328zm3.529-8.268h-7.28V4.67h7.28v7.28zM8.572 9.63H6.051V6.908h2.521V9.63zm9.73.121h-2.521V7.029h2.521v2.722z"/>
  </symbol>

  <symbol id="icon-peertube" viewBox="0 0 24 24">
    <path d="M3.476.374v11.584l8.687-5.792L3.476.374zm8.687 5.792v11.582l8.687-5.79-8.687-5.792zm-8.687 5.792V23.54l8.687-5.79-8.687-5.792z"/>
  </symbol>

  <symbol id="icon-misskey" viewBox="0 0 24 24">
    <path d="M 21.447 8.646 Q 20.396 8.646 19.645 7.92 Q 18.919 7.169 18.919 6.118 Q 18.919 5.067 19.645 4.341 Q 20.396 3.59 21.447 3.59 Q 22.498 3.59 23.249 4.341 Q 24 5.067 24 6.118 Q 24 7.169 23.249 7.92 Q 22.498 8.646 21.447 8.646 Z  M 21.472 9.147 Q 22.523 9.147 23.249 9.898 Q 24 10.648 24 11.7 L 24 17.882 Q 24 18.933 23.249 19.684 Q 22.523 20.41 21.472 20.41 Q 20.421 20.41 19.67 19.684 Q 18.919 18.933 18.919 17.882 L 18.919 11.7 Q 18.919 10.648 19.67 9.898 Q 20.421 9.147 21.472 9.147 Z  M 8.911 16.84 C 7.871 16.843 6.979 16.217 6.558 15.488 C 6.333 15.169 5.888 15.056 5.882 15.488 L 5.882 17.482 C 5.882 18.282 5.59 18.975 5.006 19.559 C 4.439 20.126 3.746 20.41 2.928 20.41 C 2.128 20.41 1.435 20.126 0.851 19.559 C 0.284 18.975 0 18.282 0 17.482 L 0 6.518 C 0 5.901 0.175 5.342 0.526 4.841 C 0.893 4.324 1.36 3.965 1.927 3.765 C 2.244 3.648 2.578 3.59 2.928 3.59 C 3.83 3.59 4.58 3.94 5.181 4.641 C 5.498 4.992 5.682 5.175 5.732 5.192 C 5.732 5.192 8.111 8.069 8.178 8.119 C 8.245 8.169 8.441 8.552 8.911 8.552 C 9.38 8.552 9.601 8.169 9.668 8.119 C 9.735 8.069 12.114 5.192 12.114 5.192 C 12.131 5.209 12.306 5.025 12.64 4.641 C 13.257 3.94 14.017 3.59 14.918 3.59 C 15.251 3.59 15.585 3.648 15.919 3.765 C 16.486 3.965 16.945 4.324 17.296 4.841 C 17.663 5.342 17.846 5.901 17.846 6.518 L 17.846 17.482 C 17.846 18.282 17.554 18.975 16.97 19.559 C 16.403 20.126 15.71 20.41 14.893 20.41 C 14.092 20.41 13.399 20.126 12.815 19.559 C 12.248 18.975 11.964 18.282 11.964 17.482 L 11.964 15.488 C 11.915 14.944 11.434 15.287 11.263 15.488 C 10.813 16.322 9.95 16.836 8.911 16.84 Z"/>
  </symbol>
</svg>
