*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  font-size: 1.05rem;
  font-family: $font-primary, "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
  color: $black;
  background-color: $black;
  text-rendering: optimizeLegibility;
}

*::-moz-selection {
  color: $black;
  background: $golden;
}

*::selection {
  color: $black;
  background: $golden;
}

button::-moz-focus-inner {
  border: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $black;
  border-bottom: 1px solid $black;
    &:hover,
    &:focus,
    &:active {
      color: $golden;
      outline: none;
    }
}

small {
  font-size: .85rem;
}

code,
pre {
  line-height: 1.5;
  font-size: 95%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  font-weight: normal;
  letter-spacing: .1em;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

ul > li {
  list-style-type: none;
}

ol {
  padding-left: 1em;
}

.f-icon {
  fill: $white;
    &:hover {
      fill: $golden;
    }
}

.btn-action {
  max-width: 170px;
  border: none;
  margin: .5em auto;
  background-color: $golden;
  border-radius: 6px;
  padding: 7px;
    &:hover,
    &:active,
    &:focus {
      background: $black;
    }
}

.container,
.container-wrapper {
  height: inherit;
  width: inherit;
  overflow: scroll;
}

.container {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $white;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.contents {
  padding: 2em 15% 1.5em;
}

.contents p:not(.u-nomargin) {
  margin: 1em 0;
}

.contents .section {
  display: flex;
  margin: 1em 0;
}

.contents .section.u-nomargin {
  margin: 0;
}

.contents .section.u-block {
  display: block;
}

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.section-wrapper > .column {
 flex: 50% 0 0;
}

.section-wrapper:last-child > .column .section {
  margin: 0;
}

.section h4 {
  text-transform: uppercase;
}

.section:not(.u-block) h4 {
  margin-right: 1.5em;
  width: 150px;
}

.section-title {
  border-bottom: 1px solid $grey;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.section-title h2,
.section-title h4 {
  text-transform: uppercase;
}

.section-title h2 {
  display: inline;
  font-size: 2rem;
}

.section-title h2,
.section-title > div {
  vertical-align: middle;
}

.section-title h4 {
  color: $grey;
}

.section-title > .icon-share {
  width: 20px;
  height: 20px;
  fill: $golden;
  vertical-align: sub;
  margin-right: .4em;
}

.section-title .icon-logotype {
  color: $white;
  width: 22px;
  margin: 0 auto;
}

.section-title > div {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
}

.section-list li:last-of-type > span {
  display: none;
}

.section-hero {
  width: 70%;
  margin: 0 auto;
}

.section-hero > h3 {
  margin: .5em 0;
}

.section-hero > h3:first-child {
  margin-top: 1.5em;
}

.section-hero > h3:last-child {
  margin-bottom: 1.5em;
}

.section-hero span {
  margin: 0 .5em;
  display: inline-block;
}

.section-hero span:first-child {
  text-transform: uppercase;
  min-width: 183px;
}

.section-hero span:first-child,
.section-hero span:last-of-type,
.section-hero sup {
  color: $grey;
}

.section-hero span:last-of-type {
  margin-right: 0;
}

.section-hero sup {
  font-size: .7rem;
}

.section.with-image {
  text-align: center;
}

.section.with-image a {
  display: inline-block;
  margin: 1em .5em;
  width: 60px;
  height: 60px;
  border: 2px solid $golden;
  border-radius: 50%;
    &:hover {
      opacity: .7;
    }
}

.article-list li:before {
  content: "";
  width: 7px;
  margin-right: .4em;
  margin-bottom: 3px;
  height: 7px;
  display: inline-block;
  background: $golden;
  border-radius: 50%;
}

.browserupgrade {
  margin: .2em 0;
  background: $grey;
  color: $black;
  padding: .2em 0;
}

.no-js {
  position: absolute;
  top: 6em;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background: $white;
  color: $black;
  padding: .4em 1em;
  text-align: center;
  z-index: $zIndex--5;
}

@media screen and (max-width: $mq-medium) {
  .contents {
    padding: 2em 10% 1.5em;
  }

  .section-wrapper > .column {
    flex: 100% 0 0;
  }
}

@media screen and (max-width: $mq-small) {
  h1 {
    font-size: 2rem;
  }

  h4 {
    padding: 0 3em;
  }

  .contents {
    padding: 2em 8% 1.5em;
  }

  .contents .section {
    flex-direction: column;
  }

  .contents h4 {
    padding: 0;
  }

  .section-hero {
    width: 100%;
  }

  .section-hero span:last-child {
    display: none;
  }
}

@media screen and (max-width: $mq-xsmall) {
  body { font-size: 90%; }

  .no-js {left: 0; transform: translate(0, 0); width: 100%; padding: .6em 14% .6em 2em;}
}
