
.network h2 {
  text-transform: uppercase;
}

.network .section-title {
  position: relative;
}

.network aside {
  position: absolute;
  right: 0;
  top: -1em;
  line-height: 1.5;
  text-align: right;
}

.network p.description {
  margin: 1em 0 2em;
}

@media screen and (max-width: $mq-small) {
  .network aside {
    display: none;
  }

}
